@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');

* {
  list-style-type: none;
}

/* Body */
.container-fluid {
  font-family: 'Playfair Display', serif;
  background-color: rgb(237, 237, 237);
  overflow-x: hidden;
}

/* Header */
.header {
  background: linear-gradient(#00509D, #1A76BC, #1E91D0);
  border-bottom: 0.1rem solid rgb(255, 113, 52);
}

.header .logo-principal {
  width: 25vw;
  margin: 1rem;
  transition: all 0.1s;
}

.header .logo-principal:hover {
  transform: scale(1.04);
}

/* Nav */
.nav {
  background: rgb(49, 46, 46);
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav ul a {
  display: flex;
  flex-direction: row;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 2.5vw 3.8vw 2.5vw 3.8vw;
  width: 100%;
}

.nav ul a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  background-color: rgb(112, 104, 104);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid rgb(245, 138, 92);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4vw 5vw 0vw 5vw;
}

.footer li a {
  font-size: 2.5vw;
  font-weight: bold;
  text-decoration: none;
  padding: 1vw;
  color: rgb(0, 0, 0);
}

.logos-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logos-redes img {
  width: 5vw;
  margin: 0vw 1.2vw 0vw 1.2vw;
}

.logos-otros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 0vw 3vw 0vw;
}

.qr-afip {
  width: 5vw;
  margin-left: 10vw;
}

.marca {
  width: 15vw;
  margin-right: 10vw;
}

/* Section 1 (todas las paginas)*/
.container-art1-deportes-sec2, .container-art2-deportes-sec2, .container-art1-fotos-sec2, .container-art1-elClub-sec2, .container-art1-contacto-sec2, .container-art1-ubicacion-sec2 {
  padding: 0;
}

.deportes-sec1, .fotos-sec1, .elClub-sec1, .contacto-sec1, .ubicacion-sec1 {
  background-color: rgb(165, 165, 165);
}

.deportes-sec1 h1, .fotos-sec1 h1, .elClub-sec1 h1, .contacto-sec1 h1, .ubicacion-sec1 h1 {
  display: flex;
  justify-content: center;
  font-size: 5.5vw;
  font-weight: 600;
  padding: 3vw;
  margin: 0;
}

.deportes-sec2 img, .elClub-sec2 img, .ubicacion-sec2 img, .fotos-sec2 img, .contacto-sec2 img {
  width: 100%;
}

/* Color listas */
ul a {
  color: rgb(255, 255, 255);
}

/* Index */

/* Section 1 */
.index-sec1 {
  background-image: url(../img/cancha-1-tenis.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-titulos-sec1 {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0, 0.6);
  color: rgb(223, 240, 255);
  border-radius: 0.15rem;
  padding: 5vw;
  margin: 5vw 0vw 5vw 30vw;
  width: 50%;
}

.titulo-index-sec1 {
  text-align: center;
  font-size: 4vw;
  text-shadow: 2px 2px rgb(0, 0, 0);
  padding: 1vw;
}

.subtitulo-index-sec1 {
  text-align: center;
  font-size: 3vw;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.container-parrafo-index-sec1 {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0, 0.6);
  color: rgb(223, 240, 255);
  border-radius: 0.15rem;
  padding: 2vw;
  margin: 0vw 0vw 5vw 0vw;
  width: 80%;
}

.parrafo-index-sec1 {
  text-align: center;
  font-size: 3.2vw;
  margin: 0;
}

/* Section 2 */
.index-sec2 {
  background-image: url(../img/cancha-de-futbol.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-titulos-sec2 {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0, 0.6);
  color: rgb(223, 240, 255);
  border-radius: 0.15rem;
  padding: 5vw;
  margin: 5vw 30vw 5vw 0vw;
  width: 50%;
}

.titulo-index-sec2 {
  text-align: center;
  font-size: 4vw;
  text-shadow: 2px 2px rgb(0, 0, 0);
  padding: 1vw;
}

.subtitulo-index-sec2 {
  text-align: center;
  font-size: 3.5vw;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.container-parrafo-index-sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0, 0.6);
  color: rgb(223, 240, 255);
  padding: 2vw;
  border-radius: 0.15rem;
  width: 80%;
  margin: 0vw 0vw 5vw 0vw;
}

.parrafo-index-sec2 {
  text-align: center;
  font-size: 3.2vw;
  margin: 0;
}

/* Deportes */
.container-art1-deportes-sec2, .container-art2-deportes-sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
}

.container-text-art1-deportes, .container-text-art2-deportes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-text-art1-deportes h2, .container-text-art2-deportes h2 {
  font-size: 6vw;
  color: rgb(245, 138, 92);
  margin: 3vw;
}

.container-text-art1-deportes ul, .container-text-art2-deportes ul {
  margin: 0vw 0vw 4vw 0vw;
  padding: 0;
}

/* Fotos */
.fotos-sec2 {
  padding: 4vw;
}

.img-item {
  margin-bottom: 3vw;
}

.img-item img:hover {
  transition: all 0.1s;
  transform: scale(1.05);
}

/* El club */

/* Section 2 */
.container-text-art1-elClub p, .container-text-art1-ubicacion p {
  font-size: 3vw;
  margin: 3vw 6vw 3vw 6vw;
}

/* Contacto */

/* Section 2 */
.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw 3vw 2vw 3vw;
}

.container-subtitle {
  margin-bottom: 2vw;
}

.container-subtitle h2 {
  font-size: 4vw;
}

.container-art1-contacto-sec2 .container-form .form-label, .form-input, .form-textarea {
  font-size: 3vw;
}

.container-art1-contacto-sec2 .container-form .btn-submit {
  font-size: 3vw;
  cursor: pointer;
}

.container-art1-contacto-sec2 .container-form .btn-submit:hover {
  background-color: rgb(209, 206, 206);
}

.form-label {
  margin: 0;
}

.form-input {
  margin-bottom: 0.5rem;
}

.form-textarea {
  margin-bottom: 0.8rem;
}

/* Media queries 768px */
@media screen and (min-width: 768px) {
  
}

/* Media queries 1200px */
@media screen and (min-width: 1200px) {
  
  /* General */
  .header .logo-principal {
    width: 7vw;
    margin-left: 3.5vw;
  }
  
  .header .logo-principal:hover {
    transform: scale(1.1);
  }

  .nav ul {
    justify-content: start;
    align-items: center;
    padding-left: 1.5vw;
  }
  
  .nav ul a {
    font-size: 1vw;
    padding: 0.6vw 1.8vw 0.6vw 1.8vw;
  }

  .deportes-sec1 h1, .fotos-sec1 h1, .elClub-sec1 h1, .contacto-sec1 h1, .ubicacion-sec1 h1 {
    justify-content: flex-start;
    font-size: 1.7vw;
    padding: 1vw 0vw 1vw 3.1vw;
  }

  .footer {
    flex-direction: row-reverse;
    border-top: 0.15rem solid rgb(255, 113, 52);
  }
  
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw;
  }
  
  .footer li a {
    font-size: 1vw;
  }
  
  .container-column-footer {
    justify-content: center;
    width: 50%;
  }

  .container-column-footer ul {
    padding: 5vw 5vw 2vw 5vw;
  }
  
  .logos-redes img {
    width: 2.2vw;
    margin: 0vw 0.5vw 0vw 0.5vw;
  }
  
  .logos-otros {
    justify-content: space-between;
  }
  
  .qr-afip {
    width: 2.2vw;
  }

  .marca {
    width: 6vw;
  }

  /* Index */

  .container-titulos-sec1 {
    width: 20%;
    margin: 5vw 0vw 5vw 65vw;
    padding: 3.5vw 1.5vw 3.5vw 1.5vw;
  }

  .index-sec1 {
    margin-bottom: 10vh;
  }

  .titulo-index-sec1 {
    text-align: center;
    font-size: 2vw;
    padding: 0vw;
    margin-bottom: 1.5vw;
  }
  
  .subtitulo-index-sec1 {
    text-align: center;
    font-size: 1vw;
  }
  
  .container-parrafo-index-sec1 {
    width: 20%;
    margin: 0vw 0vw 5vw 65vw;
  }
  
  .parrafo-index-sec1 {
    font-size: 1vw;
  }

  .container-titulos-sec2 {
    width: 20%;
    margin: 5vw 65vw 5vw 0vw;
    padding: 3.5vw 1.5vw 3.5vw 1.5vw;
  }
  
  .titulo-index-sec2 {
    text-align: center;
    font-size: 2vw;
    padding: 0vw;
    margin-bottom: 1.5vw;
  }
  
  .subtitulo-index-sec2 {
    text-align: center;
    font-size: 1vw;
  }
  
  .container-parrafo-index-sec2 {
    width: 20%;
    margin: 0vw 65vw 5vw 0vw;
  }
  
  .parrafo-index-sec2 {
    font-size: 1vw;
  }

  /* Deportes */
  .deportes-sec2 .col-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .deportes-sec2 img {
    width: 45%;
    margin: 1vw 0vw 1vw 3vw;
  }

  .deportes-sec2 h2 {
    font-size: 2vw;
  }

  .container-art1-deportes-sec2, .container-art2-deportes-sec2 {
    font-size: 1vw;
  }
  
  .container-text-art1-deportes, .container-text-art2-deportes {
    margin-right: 20vw;
  }

  .container-text-art1-deportes h2, .container-text-art2-deportes h2 {
    margin: 1vw 0vw 1vw 0vw;
  }

  /* Fotos */
  .fotos-sec2 {
    padding: 0;
  }
  
  .container-art1-fotos-sec2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .img-item {
    margin: 1.75vw 2vw 1.75vw 2vw;
  }

  .img-item img {
    height: 100%;
  }

  .img-item img:hover {
    transition: all 0.1s;
    transform: scale(1.15);
  }

  /* El club */
  .container-art1-elClub-sec2 {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .container-text-art1-elClub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-text-art1-elClub p {
    width: 80%;
    margin: 0vw 0vw 1.5vw 0vw;
    font-size: 1vw;
  }
  
  .elClub-sec2 img {
    width: 50%;
  }
  
  /* Contacto */
  .container-art1-contacto-sec2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
  }

  .container-form {
    padding: 1vw;
    margin-left: 1.8vw;
    font-size: 1.3vw;
    width: 46%;
  }
  
  .container-subtitle {
    margin-bottom: 1vw;
  } 

  .container-subtitle .form-subtitle {
    font-size: 1.5vw;
  }
  
  .container-art1-contacto-sec2 .container-form .form-label, .form-input, .form-textarea {
    font-size: 1vw;
  }

  /* Como llegar */
  .container-art1-ubicacion-sec2 {
    display: flex;
    flex-direction: row;
  }
  
  .container-text-art1-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-text-art1-ubicacion p {
    width: 80%;
    font-size: 1vw;
  }
  
  .ubicacion-sec2 img {
    width: 50%;
    padding: 1vw;
  }
}