.bg-color {
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
  background: map-get($styles, backgroundBody);
  .row-fluid {
    padding: 0;
  }
  .h1-container {
    background: map-get($styles, backgroundH1);
    h1 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem 1rem 1rem 0rem;
    }
  }
}




