.ubicacion-sec2 {
  article {
    padding: 0;
    div {
      padding: 1rem;
      p {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .ubicacion-sec2 {
    article {
      display: flex;
      flex-direction: row;
      img {
        width: 50%;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
      }
    }
  }
}